.game-screen{
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    position: fixed;
    font-size: calc(10px + 2vmin);
    color:aliceblue;
    flex: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.start-box{
    height: 75%;
    width: 50%;
    border: 3px double lightskyblue;
    background-color: transparent;
    border-radius: 5vh;
    margin: 5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    position: relative;
}

.start-team-box{
    width: 38%;
    height: 40%;
    border: 3px double lightskyblue;
    border-radius: 5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.start-box-icon{
    width: 9vh;
    height: 9vh;
}

.trainer-box{
    display: flex;
    margin: 1%;
    flex-direction: column;
    
}

.inner-trainer-box{
    height: 50%;
    width: 100%;
}

.battle-div{
    height: 100vh;
    width: 100vw;
}

.upper{
    margin-top: 2mm;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1%;
}

.lower{
    width: 100%;
    height: 10%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-upper{
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-items: center;
    justify-content: center;
    height: 57vh;
    width: 100%;
}

.mobile-lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    height: 30%;
    width: 98%;
    
}

.battle-timer{
    border: 1px solid lightskyblue;
    background-color: black;
    color:indianred;
    border-radius: 2mm;
    height: 5%;
    width: 10vh;
    font-size: 70%;

    bottom: 0.5%;
    left: 1%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}