.game-screen{
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    position: fixed;
    font-size: calc(10px + 2vmin);
    color:aliceblue;
    flex: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.start-box{
    height: 75%;
    width: 50%;
    border: 3px double lightskyblue;
    background-color: transparent;
    border-radius: 5vh;
    margin: 5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    position: relative;
}

.start-team-box{
    width: 38%;
    height: 40%;
    border: 3px double lightskyblue;
    border-radius: 5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.start-box-icon{
    width: 9vh;
    height: 9vh;
}

.trainer-box{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1 none;
}

.inner-trainer-box{
    height: 50%;
    width: 100%;
}

.battle-div{
    height: 100%;
    width: 100%;
}

.upper{
    margin-top: 2mm;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.lower{
    width: 100%;
    height: 10%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.battle-timer{
    border: 1px solid lightskyblue;
    background-color: black;
    color:indianred;
    border-radius: 2mm;
    max-height: 20%;
    width: 8%;
    position: fixed;
    left: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}