.field-window{
    background-color: black;
    color:black;
    border-color:lightskyblue;
    border-radius: 2mm;
    border-width: 1px;
    border-style:groove;

    width: 800px;
    height: 550px;
    
    margin: auto;
    align-self: center;
    position: relative;
    
    display: flex;
    justify-content: center;
}

.field-background{
    width: 98%;
    height: 98%;
    border-radius: 2mm;
    align-self: center;
    position: absolute;
    top: 1%;
    display:flex;
    margin: auto;
}

.front-container{
    position: relative;
    top: 2cm;
    left: 9cm;

    display: flex;
    flex-direction: column;
}

.back-container{
    position: relative;
    bottom: -220px;
    left: -8cm;

    display: flex;
    flex-direction: column;
}

.status-bar{
    background-color: aliceblue;
    border-radius: 1mm;
    border-color: grey;
    border-width: 1px;
    border-style: groove;

    font-size:small;
    

    width:150px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;
}

.inner-bar{
    color: white;
    background-color: black;
    height: 19px;
    width: 200px;
    position: absolute;
    top: 20px;
    border-radius:1mm;
    
    display: flex;
    justify-content: center;
}

.health-bar{
    border: 1px solid white;
    background-color: grey;

    width:150px;
    height: 10px;
    border-radius: 1mm;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.tags-bar{
    border: 1 solid white;
    height: 50%;
    height: 90%;
    position: absolute;
    margin: auto;
    display: flex;
    top: 40px;
}

.condition-tag{
    height: 3%;
    width: 15%;
    position: absolute;
    border: 1px solid white;
    margin: auto;
    margin-right: 95%;
    border-radius: 1mm;
    color: black;
    

}

.stat-mod-tag{
    height: 3%;
    width: 21%;
    border: 1px solid black;
    border-radius: 1mm;
    text-align: center;
    font-size: smaller;
}

.event-popup {
    width: 50%;
    height: 5%;
    color: white;
    text-align: center;
    border: 1 solid lightskyblue;
    border-radius: 1mm;
    background-color: black;
    opacity: 75%;
    position: fixed;
    margin-top: 5%;
    margin: auto;
}