.field-window{
    background-color: black;
    color:black;
    border: 1px solid lightskyblue;
    border-radius: 2mm;
    
    align-self: center;
    position: relative;
    
    display: flex;
    justify-content: center;
    overflow:hidden;
}

.field-background{
    width: 98%;
    height: 98%;
    border-radius: 2mm;
    align-self: center;
    position: absolute;
    top: 1%;
    display:flex;
    margin: auto;
}

.front-container{
    position: relative;
    top: 17%;
    left: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-container{
    position: relative;
    bottom: -45%;
    left: -35%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-bar{
    background-color: aliceblue;
    border-radius: 1mm;
    border: 1px groove grey;
    flex:initial;

    font-size:small;

    width: 14vw;
    height: 4%;
    
    margin-bottom: 1%;

    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner-bar{
    color: white;
    background-color: black;
    height: 90%;
    width: 80%;
    
    border-radius:1mm;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.health-bar{
    border: 1px solid white;
    border-radius: 1mm;
    background-color: grey;

    width: 70%;
    height: 40%;
    
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    overflow:hidden;
}

.percent-bar{
    height: 300%;
    position: relative;
    
}

.tags-bar{
    border: 1 solid white;
    height: 50%;
    height: 90%;
    position: absolute;
    margin: auto;
    display: flex;
    top: 40px;
}

.condition-tag{
    height: 3%;
    width: 15%;
    position: absolute;
    border: 1px solid white;
    margin: auto;
    margin-right: 95%;
    border-radius: 1mm;
    color: black;
}

.stat-mod-tag{
    height: 3%;
    width: 21%;
    border: 1px solid black;
    border-radius: 1mm;
    text-align: center;
    font-size: smaller;
}

.event-popup {
    width: 50%;
    height: 5%;
    color: white;
    text-align: center;
    border: 1 solid lightskyblue;
    border-radius: 1mm;
    background-color: black;
    opacity: 75%;
    position: fixed;
    margin-top: 5%;
    margin: auto;
}